  <div class="h-auto px-6 lg:px-14 grid lg:grid-cols-2 gap-1 lg:gap-6 mt-0">
    <div class="mt-12 lg:mt-20">
      <h1 class="text-gray-800 font-extrabold text-3xl md:text-5xl">
        Potencializamos tu <br />desarrollo profesional
      </h1>
      <h2 class="text-blue-800 font-extrabold text-3xl md:text-5xl mt-2">
        a través de eventos <br /> en vivo.
      </h2>
      <p class="mt-6 text-gray-400 font-regular text-xl">
        Aprendizaje dinámico y social
      </p>
    </div>

    <div class="md:px-24 lg:px-4 xl:px-6 mt-0">
      <%= image_tag('us1.png', class: 'w-auto') %>
    </div>
  </div>

  <div class="mt-20 grid md:grid-cols-3 gap-12 mx-20">
    <div>
      <%= image_tag('star.png') %>
      <div>
        <h1 class="mt-3 text-gray-800 text-2xl font-bold my-2">Provelopers</h1>
        <p class="mt-6 text-gray-400 font-regular text-xl">Profesionistas destacados en su giro con pasión por enseñar,
          diseñan e imparten las formaciones.</p>
      </div>
    </div>
    <div>
      <%= image_tag('formation.png') %>
      <div>
        <h1 class="mt-3 text-gray-800 text-2xl font-bold my-2">Formaciones en vivo</h1>
        <p class="mt-6 text-gray-400 font-regular text-xl">Ya sean presenciales o digitales (Ej. Zoom) aprende de una
          forma social e interactiva.</p>
      </div>
    </div>
    <div>
      <%= image_tag('group.png') %>
      <div>
        <h1 class="mt-3 text-gray-800 text-2xl font-bold my-2">Comunidad de aprendizaje</h1>
        <p class="mt-6 text-gray-400 font-regular text-xl">Forma parte de la comunidad de aprendizaje en vivo en el que
          podrás enseñar y aprender de todo(s).</p>
      </div>
    </div>
  </div>

  <div class="h-auto px-6 lg:px-14 gap-1 lg:gap-6">
    <div class="mt-32">
      <p class="mt-6 text-red-500 text-center font-medium text-xl">
        PROPUESTA
      </p>
      <h2 class="text-gray-800 text-center font-extrabold text-xl md:text-3xl">
        Nuestra propuesta
      </h2>
    </div>
  </div>

  <div class="h-auto px-6 lg:px-14 grid lg:grid-cols-2 gap-1 lg:gap-6 mt-0 py-20">
    <div class="mt-12 lg:mt-20">
      <h1 class="text-gray-800 font-extrabold text-xl md:text-3xl">
        Desarrollo <br />profesional continuo
      </h1>
      <ul class="list-disc list-inside">
        <li class="mt-6 text-gray-400 font-regular text-xl">
          Invertir en nosotros es el mejor potenciador para mantenernos <b>actualizados </b> y <b>creciendo</b>
          generando mejores oportunidades laborales y compartiendo mayor valor a la sociedad.
        </li>
        <li class="mt-6 text-gray-400 font-regular text-xl">
          Provelop te da el <b>acceso a formaciones en vivo</b> de tu categoría de interés.
        </li>
      </ul>
    </div>

    <div class="md:px-24 lg:px-4 xl:px-6 mt-12 lg:mt-6">
      <%= image_tag('us2.png', class: 'w-auto') %>
    </div>
  </div>

  <div class="h-auto px-6 lg:px-14 grid lg:grid-cols-2 gap-1 lg:gap-6 mt-0 py-20">
    <div class="md:px-24 lg:px-4 xl:px-6 mt-0">
      <%= image_tag('us3.png', class: 'w-auto') %>
    </div>

    <div class="mt-12 lg:mt-20">
      <h1 class="text-gray-800 font-extrabold text-xl md:text-3xl">
        Aprendizaje <br />activo
      </h1>
      <ul class="list-disc list-inside">
        <li class="mt-6 text-gray-400 font-regular text-xl">
          Aprende en eventos <b> vivo interactuando conel Proveloper</b> al igual que con demás asistentes creando
          un <b> social y dinámico</b>.
        </li>
        <li class="mt-6 text-gray-400 font-regular text-xl">
          El 100% de las formaciones en Provelop, son en vivo, proponiendo la <b>interacción y la creación</b> como base
          de
          un <b>aprendizaje significativo y motivante</b>.
        </li>
      </ul>
    </div>
  </div>

  <div class="h-auto px-6 lg:px-14 grid lg:grid-cols-2 gap-1 lg:gap-6 mt-0 py-0 pb-32">
    <div class="mt-12 lg:mt-12">
      <h1 class="text-gray-800 font-extrabold text-xl md:text-3xl">
        El poder de una <br />comunidad:
      </h1>
      <ul class="list-disc list-inside">
        <li class="mt-6 text-gray-400 font-regular text-xl">
          En cada comunidad hay <b>profesionistas con experiencia y conocimientos destacados</b> con interés
          en compartirlos los cuales <b>a través de Provelop los podrán compartir</b>, generando así valor a
          la comunidad y otro flujo de ingresos a los Provelopers.
        </li>
      </ul>
    </div>

    <div class="md:px-24 lg:px-4 xl:px-6 mt-0">
      <%= image_tag('us4.png', class: 'w-auto') %>
    </div>
  </div>

  <div class=" mx-auto sm:px-0 lg:px-0 bg-blue-100">
    <div class="h-auto px-6 lg:px-14 gap-1 lg:gap-6 pt-20 pb-6">
      <div class="mt-6 lg:mt-12">
        <h1 class="text-gray-800 text-center font-extrabold text-3xl md:text-5xl">
          Provelop te da acceso a los eventos <br /> que próximamente se llevarán acabo,
        </h1>
        <h2 class="text-blue-800 text-center font-extrabold text-3xl md:text-5xl mt-2">
          no te los pierdas, únete y crea tu <br /> ruta de desarrollo.
        </h2>
      </div>
    </div>
    <div class="flex justify-center p-3 pb-24">
      <%= link_to 'Descubre eventos', events_path, class: 'inline-flex items-center px-12 py-3 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500' %>
    </div>
  </div>
    <footer>
  <div class="p-10 bg-blue-900 text-white">
    <div class="max-w-7xl mx-auto">
      <div class="border-t border-blue-300 px-0 sm:my-4 sm:mx-0"></div>
      <div class="mt-3 md:mt-3 md:col-span-3">

        <div class="flex justify-between items-center">
          <label for="copyright" class="text-blue-300 font-regular text-lg">2021 Provelop. Todos los derechos
            reservados</label>
          <button type="button"
            class="inline-flex items-center text-sm  font-medium text-blue-300 bg-transparent hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
</footer>