<div class="md:flex mt-0 px-8 md:px-14 pt-4 md:justify-between md:items-center">
  <%= link_to :back, class: 'hover:bg-gray-100 rounded-full p-2 hover:text-blue-900 text-blue-800' do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
  <% end %>
</div>

<div class="mt-2 px-8 md:px-14 pt-4 text-gray-400 text-xs uppercase font-semibold tracking-wide">
  <%= @event.modality %> &bull; <%= @event.specialization %>
</div>

<div class="sticky top-16">
  <!-- Comienza header -->
  <div class="pl-8 pr-4 md:px-14 pt-4 pb-4 bg-white">
    <div class="md:flex pt-0 md:justify-between md:items-center">
      <h1 class="text-gray-800 text-3xl md:text-4xl font-bold"><%= @event.name %></h1>

      <%- if show_reservation(current_user, @event) %>
        <span class="flex justify-start md:justify-end items-center pt-3 md:pt-0">
          <p class="text-blue-500 text-lg font-medium pr-12">Ya haz adquirido este evento</p>
        </span>
      <% else %>
        <span class="flex justify-start md:justify-end items-center pt-3 md:pt-0">
            <p class="text-blue-500 text-lg font-medium pr-4">$<%= @event.price %></p>
            <%= link_to 'Reservar lugar', @preferences["init_point"], target: '_blank', class: 'inline-flex items-center px-6 py-2 border truncate border-transparent text-sm leading-4 font-medium rounded-full shadow-sm text-white bg-red-500 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500'%>
        </span>
      <% end %>
    </div>
  </div>
</div> <!-- Termina header -->

<div class="pt-2 grid md:grid-cols-3 gap-2 lg:gap-8 xl:gap-16">

  <div class="col-span-1 md:col-span-2">
    <!-- Inicia Columna izquierda -->
    <%- if @event.image.attached? %>
      <%= image_tag(@event.image, class: 'h-60 md:h-96 w-full object object-cover px-8 md:pl-14 md:pr-0') %>
    <% else %>
      <%= image_pack_tag('media/images/cover_scrum_event.jpg', class: 'h-60 md:h-96 w-full object object-cover px-8 md:pl-14 md:pr-0') %>
    <% end %>

    <div class="border border-gray-200 rounded-b-md h-16 mx-8 md:ml-14 md:mr-0 flex justify-end">
      <button type="button"
        class="inline-flex items-center px-3 py-2 my-3 mx-4 border border-transparent  text-sm leading-4 font-medium rounded-md text-gray-500 bg-white-600 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 mr-2 h-4 w-4" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
        </svg>
        Guardar
      </button>
      <button type="button"
        class="inline-flex items-center px-3 py-2 my-3 mx-4 border border-transparent  text-sm leading-4 font-medium rounded-md text-gray-500 bg-white-600 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 mr-2 h-4 w-4" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
        </svg>
        Compartir
      </button>
    </div>

    <div class="pt-12 px-8 md:pl-14 md:pr-0 pb-6 md:pb-8">

      <div class="bg-white  overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
          <h3 class="text-3xl leading-6 font-bold text-gray-800">
            Sobre el evento
          </h3>
          <p class="mt-2 max-w-2xl text-sm text-gray-500">
            Información sobre tu evento
          </p>
        </div>
        <div class="border-t border-gray-200">
          <dl>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b border-gray-200">
              <dt class="text-sm font-medium text-gray-500">
                Descripción
              </dt>
              <dd class="mt-1 text-md text-gray-600 sm:mt-0 sm:col-span-2">
                <%= @event.description %>
              </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b border-gray-200">
              <dt class="text-sm font-medium text-gray-500">
                Aprendizajes esperados
              </dt>
              <dd class="mt-1 text-md text-gray-600 sm:mt-0 sm:col-span-2">
                <%- @event.expected_learnings.each do |expected| %>
                  &bull; <%= expected.learning %>
                  <br>
                <% end %>
              </dd>
            </div>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b border-gray-200">
              <dt class="text-sm font-medium text-gray-500">
                Requisitos
              </dt>
              <dd class="mt-1 text-md text-gray-600 sm:mt-0 sm:col-span-2">
                <%- @event.requirements.each do |requirement| %>
                    &bull; <%= requirement.requirement %>
                    <br>
                <% end %>
              </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b border-gray-200">
              <dt class="text-sm font-medium text-gray-500">
                Para quién es este evento
              </dt>
              <dd class="mt-1 text-md text-gray-600 sm:mt-0 sm:col-span-2">
                <%- @event.oriented.each do |oriented| %>
                    &bull; <%= oriented %>
                    <br>
                <% end %>
              </dd>
            </div>

          </dl>
        </div>
      </div>
    </div>

    <div class="pt-6 px-8 md:pl-14 md:pr-0 pb-6 md:pb-8">
      <div class="bg-white overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
          <h3 class="text-3xl leading-6 font-bold text-gray-800">
            Programa
          </h3>
          <p class="mt-2 max-w-2xl text-sm text-gray-500">
            Módulos y contenidos
          </p>
        </div>
        
        <%- @event.learning_modules.each.with_index(1) do |learning_module, index| %>
          <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b border-gray-200">
                <dt class="text-sm font-medium text-gray-500">
                  <%= index %>. <%= learning_module.name %>
                </dt>
                <dd class="mt-1 text-md text-gray-600 sm:mt-0 sm:col-span-2">

                  <%- learning_module.module_contents.each do |module_content| %>
                    <p>
                      &bull; <%= module_content.content %>
                    </p>
                  <% end %>
                </dd>
              </div>
            </dl>
          </div>
        <% end %>
      </div>
    </div>

  </div> <!-- Termina Columna izquierda -->

  <div class="mx-8 md:mr-14 md:ml-8 col-span-1">
    <!-- Columna derecha aside-->
    <hr class="">
    <div class="text-gray-400 text-xs uppercase font-semibold tracking-wide pt-5">
      calificaciones
    </div>
    <div class="mt-2 flex items-center text-red-300">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
      </svg>
      <span class="ml-2 text-gray-500 text-sm">34 reviews</span>
    </div>

    <hr class="mt-6">
    <div class="text-gray-400 text-xs uppercase font-semibold tracking-wide pt-5">
      Boletos
    </div>
    <span class="flex jusify-start items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-2 text-red-400" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>
      <p class="text-sm text-gray-500  ml-2 mt-2">¡Quedan 10 boletos disponibles!</p>
    </span>

    <hr class="mt-6">
    <div class="text-gray-400 text-xs uppercase font-semibold tracking-wide pt-5">
      fechas
    </div>

    <%- @event.sessions.each do |session| %>
      <p class="text-sm text-gray-500"><%= session.date %></p>
    <% end %>
    
    <p class="text-md text-gray-600 font-medium mt-2">Marzo 29
      <span class="text-sm text-gray-500">- 1pm a 3pm</span>
    </p>
    

    <hr class="mt-6">
    <div class="text-gray-400 text-xs uppercase font-semibold tracking-wide pt-5">
      instructor
    </div>
    <a href="#" class="flex-shrink-0 group block mt-2">
      <div class="flex items-center">
        <div>
          <img class="inline-block h-9 w-9 rounded-full"
            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt="">
        </div>
        <div class="ml-3">
          <p class="text-md font-medium text-gray-700 group-hover:text-gray-900">
            Raúl Palacios
          </p>
          <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">
            Ver perfil
          </p>
          <div class="mt-2 flex items-center text-red-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300" viewBox="0 0 20 20"
              fill="currentColor">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <span class="ml-2 text-gray-500 text-sm">34 reviews</span>
          </div>
        </div>
      </div>
    </a>

    <hr class="mt-6">
    <div class="text-gray-400 text-xs uppercase font-semibold tracking-wide pt-5">
      creador
    </div>
    <a href="#" class="flex-shrink-0 group block mt-2">
      <div class="flex items-center">
        <div>
          <img class="inline-block h-9 w-9 rounded-full"
            src="/Users/alex/Documents/Alex2020/Curso_TailWind/web_tailwind/icons/tec_icon.png" alt="">
        </div>
        <div class="ml-3">
          <p class="text-md font-medium text-gray-700 group-hover:text-gray-900">
            <%= @event.creator.name %>
          </p>
          <%= link_to 'Ver perfil', creator_path(@event.creator), class: 'text-xs font-medium text-gray-500 group-hover:text-gray-700' %>
        </div>
      </div>
    </a>

    <hr class="mt-6">
    <div class="text-gray-400 text-xs uppercase font-semibold tracking-wide pt-5">
      Tipo de evento
    </div>
    <span class="flex jusify-start items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-2 text-red-400" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
      </svg>
      <p class="text-sm text-gray-500  ml-2 mt-2"><%= @event.event_type %></p>
    </span>

    <hr class="mt-6">
    <div class="text-gray-400 text-xs uppercase font-semibold tracking-wide pt-5">
      Como llegar o conectarte
    </div>
    <p class="text-md text-gray-600 font-medium mt-2">Plataforma Zoom</p>
    <p class="text-sm text-gray-500">&bull; Realiza reserva</p>
    <p class="text-sm text-gray-500">&bull; Recibe correo con link de acceso</p>
  </div>
</div>