<div class="bg-cover bg-no-repeat bg-center py-36" style="background-image: url('/assets/banner2.png')">
  <div class="h-auto px-6 lg:px-14 lg:gap-6 mt-0">
    <div class="mt-4 lg:mt-8">
      <h1 class="text-white font-extrabold text-5xl md:text-7xl">
        Comparte lo que sabes <br />
      </h1>
      <h2 class="text-white font-regular text-2xl md:text-3xl mt-2">
        Conviértete en Proveloper y cambia vidas, incluida la tuya
      </h2>
    </div>
  </div>
</div>

<div class="h-auto px-6 lg:px-14 py-20  mt-10 bg-no-repeat bg-center grid grid-cols-1 md:grid-cols-2 gap-6"
  style="background-image: url('/assets/circles.png')">
  <div class="mt-12 lg:mt-20">
    <h1 class="text-gray-800 text-center font-extrabold text-3xl md:text-5xl">
      +30 Millones </h1>
    <h2 class="text-blue-800 text-center font-extrabold text-3xl md:text-5xl mt-2">
      de mexicanos<br />interesados en<br />aprender
    </h2>
  </div>
  <div class="flex items-end justify-center px-4 text-center sm:block sm:p-0">
    <div
      class="inline-block align-bottom -lg px-4 pb-4 text-left overflow-hidden sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
      <div>
        <div class="">
          <div class="relative rounded-lg  px-6 py-5  flex items-center space-x-3 ">
            <div class="flex-shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-green-500 font-extrabold text-xs"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            <div class="flex-1 min-w-0">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-gray-800  font-extrabold  text-xl ">
                Crece y mejora tu marca personal
              </p>
            </div>
          </div>
          <div class="relative rounded-lg  px-6 py-5  flex items-center space-x-3 ">
            <div class="flex-shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-green-500 font-extrabold text-xs"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            <div class="flex-1 min-w-0">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-gray-800  font-extrabold  text-xl ">
                Satisfacción de enseñar
              </p>
            </div>
          </div>
          <div class="relative rounded-lg  px-6 py-5  flex items-center space-x-3 ">
            <div class="flex-shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-green-500 font-extrabold text-xs"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            <div class="flex-1 min-w-0">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-gray-800  font-extrabold  text-xl ">
                Networking
              </p>
            </div>
          </div>
          <div class="relative rounded-lg  px-6 py-5  flex items-center space-x-3 ">
            <div class="flex-shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-green-500 font-extrabold text-xs"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            <div class="flex-1 min-w-0">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-gray-800  font-extrabold  text-xl ">
                Genera otro flujo de ingresos
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="h-auto px-6 lg:px-14 gap-1 lg:gap-6">
  <div class="mt-20">
    <p class="mt-6 text-red-500 text-center font-medium text-xl ">
      ENSEÑA CON PROVELOP
    </p>
    <h2 class="text-gray-800 text-center font-extrabold text-xl md:text-3xl">
      ¿Tienes algo que enseñar?<br /> Estás en el lugar indicado
    </h2>
  </div>
</div>

<div class=" grid md:grid-cols-3 gap-6 p-12 mt-12 lg:mt-16">
  <div class="">
    <%= image_tag('star.png', class: 'w-32 h-32 flex-shrink-0 mx-auto') %>
    <div>
      <h1 class="mt-3 text-gray-800 text-center text-xl font-bold my-2">¿Eres profesionista<br /> destacado en tu
        giro?</h1>
      <div class="flex justify-between mt-4">
      </div>
    </div>
  </div>
  <div>
    <%= image_tag('teach.png', class: 'w-32 h-32 flex-shrink-0 mx-auto') %>
    <div>
      <h1 class="mt-3 text-gray-800 text-xl text-center font-bold my-2">¿Tienes interés<br /> en enseñar?</h1>
      <div class="flex justify-between mt-4">
      </div>
    </div>
  </div>
  <div>
    <%= image_tag('hearth.png', class: 'w-32 h-32 flex-shrink-0 mx-auto') %>
    <div>
      <h1 class="mt-3 text-gray-800 text-center text-xl font-bold my-2">¿Eres<br /> apasionado?</h1>
      <div class="flex justify-between mt-4">
      </div>
    </div>
  </div>
</div>

<div class=" mx-auto sm:px-0 lg:px-0 bg-blue-100 mt-10">
  <div class="h-auto px-6 lg:px-14 gap-1 lg:gap-6 pt-20 pb-6">
    <div class="mt-6 lg:mt-12">
      <h1 class="text-gray-800 text-center font-extrabold text-3xl md:text-5xl">
        Únete a la comunidad de
      </h1>
      <h2 class="text-blue-800 text-center font-extrabold text-3xl md:text-5xl mt-2">
        aprendizaje en vivo en México
      </h2>
    </div>
  </div>
  <div class="flex justify-center p-3 pb-24">
    <% if FeatureFlags.auth_enabled? %>
      <%= link_to 'Comienza ahora', new_user_registration_path, class: 'inline-flex items-center px-12 py-3 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500' %>
    <% end %>
  </div>
</div>

<!-- UI card from https://uxplanet.org/ultimate-guide-for-designing-ui-cards-59488a91b44f -->
<div class="min-h-screen bg-gray-50 flex flex-col justify-center mt-20 lg:mt-28">
  <div class="relative m-3 flex flex-wrap mx-auto justify-center">

    <div class="relative rounded-3xl p-2 mx-1 my-3 cursor-pointer">
      <div class="overflow-x-hidden rounded-2xl relative">
        <%= image_tag('profesion.png', class: 'h-100 rounded-2xl w-full object-cover') %>
      </div>
    </div>

    <div class=" p-2 mx-1 my-3 cursor-pointer ">
      <div class="overflow-x-hidden rounded-2xl relative">

        <div class="mt-20 pl-2 mb-2 flex justify-between">
          <div>
            <h2 class="text-gray-800  font-medium text-3xl md:text-3xl">
              Buscamos<br /> <b>profesionistas <br /> expertos</b> listos <br /> evolucionar <br />la
              <b>educación</b><br />en México
            </h2>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="h-auto px-6 lg:px-14 gap-1 lg:gap-6">
    <div class=" mt-20 lg:mt-28">
      <p class=" text-red-500 text-center font-medium text-xl ">
        COMIENZA AHORA
      </p>
      <h2 class="text-gray-800 text-center font-extrabold text-xl md:text-3xl">
        ¿Cómo empiezo?<br /> Es muy sencillo
      </h2>
      <p class=" py-14 text-gray-400 text-center font-regular text-xl mr-12">
        ¿Eres un <b>profesionista</b> destacado en alguna de las categorías que<br /> Provelop propone?
        ¿Tienes interés en <b>compartir tus conocimientos</b>?
      </p>
    </div>
  </div>

  <div class="h-auto px-12 lg:px-32 grid lg:grid-cols-2 gap-1 lg:gap-6 mt-0">
    <div class="mt-20 lg:mt-28">
      <ul role="list" class="-mb-8">
        <li>
          <div class="relative pb-8">
            <span class="absolute top-4 left-14 -ml-px h-full w-0.5 bg-blue-900" aria-hidden="true"></span>
            <div class="relative flex space-x-3">
              <div>
                <span class="h-28 w-28 rounded-full bg-blue-900 flex items-center justify-center ring-8 ring-white">
                  <p class="text-white text-4xl font-bold"> 1</p>
                </span>
              </div>
              <div class="min-w-0 flex-1 pt-1.5 pl-10">
                <div>
                  <p class="text-gray-800  font-medium text-xl md:text-3xl">Crea tu cuenta </p>
                  <p class="py-2 text-gray-400 font-regular text-xl mr-12">Regístrate en Provelop para tener
                    <br>acceso a tu cuenta. Te llevará <b>sólo <br>unos minutos</b></p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="relative pb-8">
            <span class="absolute top-4 left-14 -ml-px h-full w-0.5 bg-blue-900" aria-hidden="true"></span>
            <div class="relative flex space-x-3">
              <div>
                <span class="h-28 w-28 rounded-full bg-blue-900 flex items-center justify-center ring-8 ring-white">
                  <p class="text-white text-4xl font-bold"> 2</p>
                </span>
              </div>
              <div class="min-w-0 flex-1 pt-1.5 pl-10">
                <div>
                  <p class="text-gray-800  font-medium text-xl md:text-3xl">Envíanos un correo </p>
                  <p class="py-4 text-gray-400 font-regular text-xl mr-12">Mándanos un mail contándonos <br>sobre ti,
                    compártenos tu currículum <br>o portafolio a <b>hola@provelop.mx</b></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="relative pb-8">
            <span class="absolute top-4 left-14 -ml-px h-full w-0.5 bg-blue-900" aria-hidden="true"></span>
            <div class="relative flex space-x-3">
              <div>
                <span class="h-28 w-28 rounded-full bg-blue-900 flex items-center justify-center ring-8 ring-white">
                  <p class="text-white text-4xl font-bold"> 3</p>
                </span>
              </div>
              <div class="min-w-0 flex-1 pt-1.5 pl-10">
                <div>
                  <p class="text-gray-800  font-medium text-xl md:text-3xl">Proceso de revisión </p>
                  <p class="py-4 text-gray-400 font-regular text-xl mr-12">En Provelop analizaremos tu <br>perfil y
                    nos pondremos en <br>contacto contigo</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="relative pb-8">
            <span class="absolute top-4 left-14 -ml-px h-full w-0.5 bg-blue-900" aria-hidden="true"></span>
            <div class="relative flex space-x-3">
              <div>
                <span class="h-28 w-28 rounded-full bg-blue-900 flex items-center justify-center ring-8 ring-white">
                  <p class="text-white text-4xl font-bold"> 4</p>

                </span>
              </div>
              <div class="min-w-0 flex-1 pt-1.5 pl-10">
                <div>
                  <p class="text-gray-800  font-medium text-xl md:text-3xl">Videollamada </p>
                  <p class="py-4 text-gray-400 font-regular text-xl mr-12">En caso de <b>cumplir con el perfil
                    </b><br>organizaremos una <b>videollamada</b> para <br>presentar la operatividad y analizar
                    <br>posibilidades de talleres</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="relative pb-8">
            <div class="relative flex space-x-3">
              <div>
                <span class="h-28 w-28 rounded-full bg-blue-900 flex items-center justify-center ring-8 ring-white">
                  <p class="text-white text-4xl font-bold"> 5</p>
                </span>
              </div>
              <div class="min-w-0 flex-1 pt-1.5 pl-10">
                <div>
                  <p class="text-gray-800  font-medium text-xl md:text-3xl">Proveloper verificado</p>
                  <p class="py-4 text-gray-400 font-regular text-xl mr-12">Recibe tu insignia como <b>Proveloper<br>
                      verificado</b> y estarás listo para<br> <b>comenzar a enseñar</b> </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="md:px-24 lg:px-4 xl:px-6 mt-16 hidden md:block">
      <%= image_tag('register.png', class: 'w-auto mt-8') %>
      <%= image_tag('revision.png', class: 'w-auto mt-32') %>
      <%= image_tag('prov_ver.png', class: 'w-auto mt-36') %>
    </div>
  </div>

  <section class="w-full text-gray-900 py-36  bg-cover bg-no-repeat bg-center mt-20"
    style="background-image: url('/assets/logo.png')">
    <div class="">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 grid md:grid-cols-2 gap-12">
        <div class="w-full">
          <h1 class="text-white font-extrabold text-3xl md:text-5xl">
            ¿Tienes preguntas?
          </h1>
          <h2 class="text-white font-regular text-2xl md:text-3xl mt-2">
            Envíanos un mensaje y muy pronto nuestro equipo te contactará
          </h2>
          <p class="mt-6 text-white font-regular text-xl">
            hola@prevelop.mx
          </p>
        </div>
        <div class="w-full bg-gray-50 p-8 flex flex-col lg:ml-auto w-full mt-10 lg:mt-0 rounded-md">
          <div class="relative mb-4">
            <label for="full-name" class="leading-7 text-sm text-gray-600">Nombre</label>
            <input type="text" id="name" name="name"
              class="w-full bg-white rounded-md border border-gray-300 focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200 text-sm outline-none text-gray-900 py-1 px-3 leading-8 transition-colors duration-150 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
            <input type="email" id="email" name="email"
              class="w-full bg-white rounded-md border border-gray-300 focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200 text-sm outline-none text-gray-900 py-1 px-3 leading-8 transition-colors duration-150 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600">Mensaje</label>
            <textarea id="message" name="message" rows="4"
              class="w-full bg-white rounded-md border border-gray-300 focus:border-indigo-600 focus:ring-2 focus:ring-indigo-200 text-sm outline-none text-gray-900 py-1 px-3 leading-8 transition-colors duration-150 ease-in-out"> </textarea>
          </div>
          <button
            class="text-white bg-blue-900 border-0 py-2 px-6 focus:outline-none hover:bg-blue-800 rounded text-lg">Enviar</button>
        </div>
      </div>
    </div>
  </section>
  <footer>
  <div class="p-10 bg-blue-900 text-white">
    <div class="max-w-7xl mx-auto">
      <div class="border-t border-blue-300 px-0 sm:my-4 sm:mx-0"></div>
      <div class="mt-3 md:mt-3 md:col-span-3">

        <div class="flex justify-between items-center">
          <label for="copyright" class="text-blue-300 font-regular text-lg">2021 Provelop. Todos los derechos
            reservados</label>
          <button type="button"
            class="inline-flex items-center text-sm  font-medium text-blue-300 bg-transparent hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
</footer>