<!DOCTYPE html>
<html>
  <head>
    <title>Provelop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

  <div class="h-auto bg-white sticky top-0">
    <nav data-controller="display display-mobile" class="bg-white border-b border-gray-200">
      <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <div class="flex-shrink-0 flex items-center">
              <button class="block lg:hidden h-8 w-auto">
                <%= image_tag('branding/logo_provelop.svg', class: 'block lg:hidden h-8 w-auto') %>
              </button>
              <button class="hidden lg:block h-8 w-auto">
                <%= image_tag('branding/logo_provelop.svg', class: 'hidden lg:block h-8 w-auto') %>
              </button>
            </div>
            <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
              <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
              <%= link_to('Inicio', root_path(), class: 'border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium', data: { 'controller': 'active-nav-link', 'active-nav-link-target': 'link', 'active-nav-link-current-value': current_path(), 'active-nav-link-path-value': root_path() })%>
              <%= link_to('Provelopers', proveloper_path(), class: 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium', data: { 'controller': 'active-nav-link', 'active-nav-link-target': 'link', 'active-nav-link-current-value': current_path(), 'active-nav-link-path-value': proveloper_path() })%>
              <%= link_to('Nosotros', us_path(), class: 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium', data: { 'controller': 'active-nav-link', 'active-nav-link-target': 'link', 'active-nav-link-current-value': current_path(), 'active-nav-link-path-value': us_path() })%>
            </div>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:items-center">
            <!-- Profile dropdown -->
            <div class="ml-3 relative">
              <div class="flex justify-between">
                <% if signed_in? %>
                  <%= link_to nil, data: { action: 'display#openMenu' }, class: 'max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500', id:"user-menu-button", aria_expanded:"false", aria_haspopup: "true" do %>
                    <span class="sr-only">Open user menu</span>
                    <client-only data-action="display#openMenu">
                      <% if current_user.avatar.attached? %>
                        <%= image_tag(current_user.avatar, class: 'object object-cover h-8 w-8 rounded-full') %>
                      <% else %>
                        <%= image_tag('icons/default_avatar.svg', class: 'object object-cover h-8 w-8 rounded-full') %>
                      <% end %>
                    </client-only>
                  <% end %>
                <% else %>
                  <% if FeatureFlags.auth_enabled? %>
                    <%= link_to('Iniciar sesión', new_user_session_path, class: 'block px-4 py-2 text-sm text-blue-700', role: 'menuitem', tabindex: '-1', id: 'user-menu-item-1')%>
                  <% end %>
                <% end %>
              </div>

              <!--
                    Dropdown menu, show/hide based on menu state.
    
                    Entering: "transition ease-out duration-200"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
              <% if signed_in? %>
                <div data-display-target="container" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-50" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button">
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <%= link_to('Perfil', user_path(id: current_user.id), class: 'block px-4 py-2 text-sm text-gray-700', role: 'menuitem', id: 'user-menu-item-1', tabindex: '-1')%>
                  <%= link_to('Mis eventos adquiridos', proveloper_events_path(), class: 'block px-4 py-2 text-sm text-gray-700', role: 'menuitem', id: 'user-menu-item-5', tabindex: '-1') %>
                  <% if policy(Event).new? %>
                    <%= link_to('Creador', creator_path(id: current_user.creator.id), class: 'block px-4 py-2 text-sm text-gray-700', role: 'menuitem', id: 'user-menu-item-2', tabindex: '-1')%>
                    <%= link_to('Crear Evento', new_event_path(), class: 'block px-4 py-2 text-sm text-gray-700', role: 'menuitem', id: 'user-menu-item-4', tabindex: '-1')%>
                  <% end %>
                  <%= button_to(
                    "Cerrar sesión",
                    destroy_user_session_path,
                    method: :delete,
                    class: 'block px-4 py-2 text-sm text-gray-700',
                    role: 'menuitem', 
                    id: 'user-menu-item-3', 
                    tabindex: '-1', 
                    data: { turbo_method: :delete }
                  ) %>
                  
                </div>
              <% end %>
            </div>
          </div>

          <div class="-mr-2 flex items-center sm:hidden" data-controller="display">
            <%= link_to nil, data: { action: 'display-mobile#toggle' }, class: 'bg-white inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500', aria_controls: 'mobile-menu', aria_expanded:'false'  do %>
              <span class="sr-only">Open main menu</span>
              <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            <% end %>
          </div>
        </div>
      </div>

      <div data-display-mobile-target="container" class="sm:hidden" id="mobile-menu">
        <div class="pt-2 pb-3 space-y-1">
          <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800" -->
          <%= link_to('Inicio', root_path(), class: 'border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 block pl-3 pr-4 py-2 border-l-4 text-base font-medium', data: { 'controller': 'active-nav-link', 'active-nav-link-target': 'link', 'active-nav-link-current-value': current_path(), 'active-nav-link-path-value': root_path(), 'active-nav-link-mobile-value': true })%>
          <%= link_to('Provelopers', proveloper_path(), class: 'border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 block pl-3 pr-4 py-2 border-l-4 text-base font-medium', data: { 'controller': 'active-nav-link', 'active-nav-link-target': 'link', 'active-nav-link-current-value': current_path(), 'active-nav-link-path-value': proveloper_path(), 'active-nav-link-mobile-value': true })%>
          <%= link_to('Nosotros', us_path(), class: 'border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 block pl-3 pr-4 py-2 border-l-4 text-base font-medium', data: { 'controller': 'active-nav-link', 'active-nav-link-target': 'link', 'active-nav-link-current-value': current_path(), 'active-nav-link-path-value': us_path(), 'active-nav-link-mobile-value': true })%>
        </div>
        <% if signed_in? %>
          <div class="pt-4 pb-3 border-t border-gray-200">
            <div class="flex items-center px-4">
              <div class="flex-shrink-0">
                <% if current_user.avatar.attached? %>
                  <%= image_tag(current_user.avatar, class: 'h-10 w-10 rounded-full') %>
                <% else %>
                  <%= image_tag('icons/default_avatar.svg', class: 'h-10 w-10 rounded-full') %>
                <% end %>
              </div>
              <div class="ml-3">
                <div class="text-base font-medium text-gray-800"><%= current_user.name %></div>
                <div class="text-sm font-medium text-gray-500"><%= current_user.email %></div>
              </div>
            </div>
            <div class="mt-3 space-y-1">
              <%= link_to('Perfil', user_path(id: current_user.id), class: 'block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100')%>
              <%= link_to('Mis eventos adquiridos', proveloper_events_path(), class: 'block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100') %>
              <% if policy(Event).new? %>
                <%= link_to('Creador', creator_path(id: current_user.creator.id), class: 'block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100')%>
                <%= link_to('Crear Evento', new_event_path(), class: 'block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100')%>
              <% end %>
              <%= button_to(
                "Cerrar sesión",
                destroy_user_session_path,
                method: :delete,
                class: 'block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100', 
                data: { turbo_method: :delete }
              ) %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
    <% if flash[:notice].present? %>
      <div data-controller="alert" data-alert-target="container" class="rounded-md bg-green-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <!-- Heroicon name: solid/check-circle -->
            <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-green-800">
              <%= flash[:notice] %>
            </p>
          </div>
          <div class="ml-auto pl-3">
            <div class="-mx-1.5 -my-1.5">
              <button 
                data-action="alert#close"
                type="button" 
                class="inline-flex bg-green-50 rounded-md p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-50 focus:ring-green-600"
              >
                <span class="sr-only">Dismiss</span>
                <!-- Heroicon name: solid/x -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div data-controller="alert" data-alert-target="container" class="rounded-md bg-red-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <!-- Heroicon name: solid/x-circle -->
            <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-red-800">
              <%= flash[:alert] %>
            </p>
          </div>
          <div class="ml-auto pl-3">
            <div class="-mx-1.5 -my-1.5">
              <button 
                data-action="alert#close"
                type="button" 
                class="inline-flex bg-red-50 rounded-md p-1.5 text-red-500 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-50 focus:ring-red-600"
              >
                <span class="sr-only">Dismiss</span>
                <!-- Heroicon name: solid/x -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="z-0">
      <%= yield %>
    </div>
  </body>
</html>
